**/.deepeval/
old/
**/__pycache__/
**/.vector_db/
**/unsloth_compiled_cache/
**/outputs**/
src/eval/output/**/*.txt
*.log
.env
*.db**
src/eval/cache/
src/eval/results/
**samples**
src/eval/depreciated/**